.filter-options {
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}
.filter-options form {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
    margin: 0;
}
.filter-options form::-webkit-scrollbar {
    display: none;
}
form > * {
    font-size: 1rem;
}
.text-input {
    width: 90%;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
select > option {
    padding: 1.5rem;
    color: #091214;
}
.button-input {
    width: 90%;
    padding: 1rem;
    background-color: white;
    color: #091214;
    font-weight: bold;
    border: 1px solid white;
}
