.filter-options {
    /* width: 100vw; */
    color: white;
    display: flex;
    flex-direction: column;
}
.filters,
.sort {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #091214;
}
.sort {
    top: 8rem;
}
.filters::-webkit-scrollbar {
    display: none;
}
.filters > * {
    font-size: 1rem;
}
.text-input {
    width: 100px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
select > option {
    padding: 1.5rem;
    color: #091214;
}
.button-input {
    width: 90%;
    padding: 1rem;
    background-color: white;
    color: #091214;
    font-weight: bold;
    border: 1px solid white;
}
.filter-button {
    display: none;
}
@media screen and (max-width: 960px) {
    .filter-overlay {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        z-index: 20;
        background-color: rgba(255, 255, 255, 0.01);
    }
    .filters {
        flex-direction: column;
        position: absolute;
        align-items: start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        top: 5rem;
        left: 0px;
        width: 0px;
        /* transform: scaleX(0); */
        background-color: #091214;
        z-index: 8;
        height: 100%;
        overflow: auto;
        padding: 0.5rem 0rem;
        transition: 0.5s;
    }

    .filter-button {
        cursor: pointer;
        display: block;
    }

    .show-filters {
        width: 250px;
        padding: 0.5rem 1rem 5.5rem;
        /* transform: scaleX(1); */
    }
    .show-filters .text-input {
        width: 100%;
    }
    .sort {
        top: 5rem;
    }
}
