.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 2rem;
    padding: 0.5rem;
    z-index: 10;
    background-color: #091214;
    box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.1);
}
.header > li {
    padding: 0.5rem;
}

.list-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.list-items > a {
    transition: 0.2s;
    padding: 0.5rem;
}
.list-items > a:hover {
    transform: scale(1.05);
}
.flex-buffer {
    flex-grow: 1;
}
.app-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 900;
}
.app-title > span {
    color: rgb(0, 132, 255);
}
.nav-menu {
    width: 40px;
    height: 40px;
    color: white;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        gap: 1rem;
    }
    .list-items {
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        padding: 0;
        margin: 0;
        height: 0px;
        transform: scaleY(0);
        transition: transform 0.2s ease-out;
    }
    .list-items > a {
        padding: 2rem;
        text-align: center;
        width: 100%;
    }
    .nav-menu {
        display: block;
    }
    .show-items {
        transform: scaleY(1);
        display: flex;
    }
    .show-items > a {
        background-color: #091214;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .show-items > a:hover {
        transform: scale(1);
        background-color: rgb(16, 30, 32);
    }
}
@media screen and (max-width: 375px) {
    .app-title {
        font-size: 1.5rem;
    }
    .header {
        gap: 0.5rem;
    }
}
