.card-container {
    color: white;
    padding: 0rem 1.5rem;
}
.card-container-title {
    font-size: 2rem;
    padding: 0.5rem;
}
.card-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: stretch; */
    gap: 2rem;
    color: white;
    transition: transform 1s;
    overflow-x: auto;
    overflow-y: overflow;
    padding: 0.5rem 0rem;
}
.card-slider::-webkit-scrollbar {
    display: none;
}
.card {
    cursor: pointer;
    text-overflow: clip;
    padding: 0.5rem;
    transition: 0.4s;
}
.card:hover {
    /* border: 1px solid white; */
    transform: scale(1.05);
}
.movie-poster {
    width: 200px;
    /* aspect-ratio: auto 3/4; */
    aspect-ratio: 6/9;
}
.movie-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.movie-title {
    text-align: left;
    padding: 0.5rem;
}
.artist-card {
    padding: 0rem 1rem;
    text-align: center;
    color: white;
}
.artist-image {
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .card-container-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 425px) {
    .card-container {
        padding: 0rem 0.5rem;
    }
    .artist-image {
        width: 140px;
    }
    .card-slider {
        gap: 1rem;
    }
    .movie-poster {
        width: 180px;
    }
}
