.card-container {
    color: white;
    padding: 0rem 1.5rem;
}
.card-container-title {
    font-size: 2rem;
    padding: 0.5rem;
}
.card-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    color: white;
    transition: transform 1s;
    overflow-x: auto;
    overflow-y: overflow;
    padding: 0.5rem 0rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 2rem;
    place-items: center;
    place-content: space-around;
}
.card-slider::-webkit-scrollbar {
    display: none;
}
.card {
    width: 200px;
    cursor: pointer;
    text-overflow: clip;
    transition: 0.4s;
    position: relative;
}
.card:hover {
    transform: scale(1.05);
}
.movie-poster {
    width: 200px;
    aspect-ratio: 6/9;
}
.card-rating,
.card-year {
    font-size: 0.8rem;
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0.5rem;
}
.card-rating {
    left: 0;
}
.card-year {
    right: 0;
}
.artist-card {
    padding: 0rem 1rem;
    text-align: center;
    color: white;
}
.artist-image {
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .card-container-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 512px) {
    .card-container {
        padding: 0rem 0.5rem;
    }
    .artist-image {
        width: 140px;
    }
    .card-slider .card {
        width: 150px;
    }
    .card-grid {
        gap: 1rem;
        grid-template-columns: repeat(2, 50%);
        place-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .card-grid .card {
        width: 100%;
    }
    .card-slider .movie-poster {
        width: 150px;
        aspect-ratio: 6/9;
    }
    .card-grid .movie-poster {
        width: 100%;
    }
}
