.search {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    border-radius: 0.4rem;
    overflow: hidden;
}
.search-icon {
    color: white;
    padding: 0.5rem;
}
.form-input {
    width: 200px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: white;
}
.search-div {
    position: fixed;
    overflow: auto;
    top: 5rem;
    left: 0%;
    width: 100vw;
    /* height: calc(100vh-5rem); */
    color: white;
    background-color: rgb(15, 31, 36);
    padding: 1rem;
    z-index: 5;
}
.search-container {
    width: 100%;
    height: 90vh;
    overflow: auto;
}
.search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
    gap: 2rem;
}
