.search {
    background-color: rgba(255, 255, 255, 0.02);
    display: flex;
    flex-direction: row;
    border-radius: 0.4rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.search-icon {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 24px;
    padding: 0.2rem;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.form-input {
    width: 300px;
    padding: 0.8rem;
    background-color: transparent;
    outline: none;
    color: white;
}
.search-div {
    position: absolute;
    overflow: auto;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    /* height: calc(100vh-5rem); */
    color: white;
    background-color: rgb(15, 31, 36);
    padding: 1rem;
    z-index: 5;
}
.search-container {
    width: 100%;
    height: 90vh;
    overflow: auto;
    /* margin-bottom: 2rem; */
}
.search-container::-webkit-scrollbar{
    display: none;
}
.search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

@media screen and (max-width:1024px){
    .form-input{
        display: none;
    }
}